.form{
    width: 100vh;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 20px;
}
.form_submit{
    display: flex;
    border-radius: 20px;
   
}
.form_control{
    padding: 10px;
   
    
}
.form_control>input{
    width: 999;
}
.btn-success{
    background-color:  #04AA6D;
}